$main-bg-color: #132632;
$second-bg-color: #ffffff;
$min-menu-width: 35px;
$min-menu-height: 94vh;
$menu-pad: 20px;
$button-color: #666666;
$button-highlight-color: #555555;
$main-border-radius: 8px;
$menu-button-inactive: rgba(255, 255, 255, 0.62);
$menu-button-active: #fff;
$mask: rgba(255, 255, 255, .06);

.fade-out {
	opacity: 0;
	transition: opacity 0.2s;
}

.fade-in {
	opacity: 1;
	transition: opacity 0.5s;
}

body {
	background-color: $main-bg-color;
}

.sidebar {
	background-color: $mask;
	width: $min-menu-width + $menu-pad * 2;
	min-width: $min-menu-width + $menu-pad * 2;
	border-color: rgba(255, 255, 255, 0.16);
	border-style: solid;
	border-width: 1px;
	padding-bottom: 10px;
	min-height: $min-menu-height;
	border-radius: $main-border-radius;
}


.designer {
	min-height: $min-menu-height;
	max-height: $min-menu-height;
	min-width: calc(94% - $min-menu-width + $menu-pad * 2);
	background-color: $main-bg-color;
}

.history {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
	min-height: $min-menu-height;
	max-height: $min-menu-height;
	overflow: auto;
	min-width: calc(94% - $min-menu-width + $menu-pad * 2);
	background-color: $main-bg-color;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.history::-webkit-scrollbar {
	display: none;
}

@media (min-width: 300px) {
	.sidebar {
		width: 100%;
		min-height: 0px;
	}
}

.topbar {
	background-color: $main-bg-color;
	padding: 0px 12px;
	min-width: 100%;
	// height: 60px;
	min-height: 60px;
	// border-bottom: 1px solid $main-bg-color;
	// box-shadow: 0px 0 black, 0 1px $main-bg-color, 0px 0 black, 0 0px black;
	overflow: auto;
}

.topbar-button {
	background-color: transparent;
	color: $menu-button-inactive;
	font-size: 16px;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 20px;
	border-radius: $main-border-radius;
	border: none;
	box-shadow: none;
	outline: none;
	height: 35px;
}

.topbar-button-active {
	background-color: rgba(255, 255, 255, .1);
	color: $menu-button-active;
}

.no-bullets {
	list-style-type: none;
}

.no-identation {
	padding-left: 0;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu button {
	margin-bottom: 4px;
	background-color: transparent;
	color: $menu-button-inactive;
	border: none;
	width: 100%;
	text-align: center;
	cursor: pointer;
	font-weight: 400;
	font-size: 10px;
	padding-bottom: 4px;
}

.menu button:hover:enabled {
	background-color: $main-bg-color;
}

.menu .active {
	border-left: 2px solid white;
	border-left-style: solid;
	color: $menu-button-active;
}

.menu .icon {
	display: flex;
	justify-content: center;
	padding: 4px 16px;
}

.menu .active button {
	color: $menu-button-active;
}

.brand-name {
	color: #ffffff;
	font-size: 24px;
	padding: 16px;
}

.branding {
	font-size: 1.3rem;
	font-weight: bold;
	// margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.designer-window {
	width: 100%;
	position: relative;
	background-color: rgba(255, 255, 255, .16);
	border-radius: $main-border-radius;
}

.designer-form {
	position: absolute;
	bottom: 3vh;
	width: 40%;
	left: 50%;
	transform: translate(-50%, -25%);
	height: 56px;
}

.menu .settings {
	min-width: 50px;
	height: 40px;
	padding: 4px 10px 4px 10px;
	overflow: auto;
}

.settings-form {
	background-color: $main-bg-color;
}

.form-wrapper {
	height: $min-menu-height;
	background-color: $second-bg-color;
}

.form input {
	height: 45px;
}

.form button {
	height: 45px;
}

.form #loading {
	height: 45px;
	width: 45px;
}

.document {
	width: 300px;
	max-height: 300px;
	border-radius: $main-border-radius;
	overflow: auto;
}

.document-loading {
	width: 300px;
	max-height: 300px;
	border-radius: $main-border-radius;
	overflow: auto;
	pointer-events: none;
	animation: loading-skeleton 1s infinite ease-in-out;
}

.document-image-placeholder {
	width: 100%;
	height: 150px;
	background-color: $main-bg-color;
}

.document-title {
	font-size: 1rem;
	font-weight: 400;
}

.buttonIframe {
	width: 200% !important;
	height: 200% !important;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

@keyframes loading-skeleton {
	0% {
		opacity: 0.3;
	}

	50% {
		opacity: 0.8;
	}

	100% {
		opacity: 0.3;
	}
}

.form-style-1 {
	margin: 10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

.form-style-1 label {
	margin: 0 0 3px 0;
	padding: 0px;
	display: block;
	font-weight: bold;
}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #BEBEBE;
	padding: 7px;
	margin: 0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
	// width: 49%;
}

.form-style-1 .field-long {
	width: 100%;
}

.form-style-1 .field-select {
	width: 100%;
}

.form-style-1 .field-textarea {
	height: 100px;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}

.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover {
	background: #4691A4;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.form-style-1 .required {
	color: red;
}

.background {
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}